extends layout.pug
block content
    include navbar.pug
    main.container.main
        h2 Instrucciones detalladas del juego :
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam similique, neque nobis architecto repellat explicabo doloribus obcaecati hic totam dolorem nam magnam aliquid ab placeat iure suscipit unde modi. Quidem.
        p bla blabla bla bla blabla bla