.categories {
  justify-content: center;
  align-items: center;
  display: grid;
  text-align: center
}

.navItem {
  /*  font-style: oblique;
  font-weight: bold; */
}

.navLink {
  font-style: oblique;
  font-weight: bold;
  color: tomato;
  /* border : none !important; */
  border-left: 1px solid black !important;
  border-top: 1px solid black !important;
  border-right: 1px solid black !important;
  
}


.navLink:active {
  /* color : green */
}

.navLink:link {
  /* color : green */
}

.navLink:visited {
  /*   color : lightgreen */
}

.navLink:hover {
  /* color : green */
}

.nav-tabs .nav-link.active {
  background-color: red !important;
  color: green !important;
  border-radius: 10px 10px 0 0 !important;
  border : none !important;
}