.categories {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 9fr;
  text-align: center;
  align-items: center;
}

.navLink{
  color :#0a126a;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top : 1px solid green !important;
  border-left : 1px solid green !important;
  border-right : 1px solid green !important;
}

.navLink:hover {
  color: white;
  background-color: #0a126a;
}

.navLink:active {
  color: green;
}

.navLink:link {
  color: white;
} 
/* 
.navLink:visited {
  color: black;
}  */
