 .newsItem {
  border-left : 2px solid #f8f9fa ;
  border-right : 2px solid #f8f9fa ;
} 
.tab-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr !important  ;

  text-align: center;
}

.card{
  margin: 10px;
  border: 1px solid grey !important;
}

.card-header {
  padding: 4px !important;
  color : darkgray;
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-size: .7rem
}

.card-title {
  font-size: 1.5rem
} 