.newsItem {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center
}
.card{
  
  background-color: black;
  
}
.cardBody {
  background-color: silver;
  color: yellow;
}

.cardTitle{
  color: red;
}

.cardSubtitle{
  color: peru;
}

.cardText{
  color : blue;
}

.cardHeader{
  color : tomato;
}

.cardFooter{
  color : violet;
}

.images{
  color: #802081;
  background-color: orange;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: oblique;
  font-weight: bold;
  display: grid;
  width: 100%;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  text-align: center
}